
examples/aqua_module/main.cof

*.hex

*.obj

*.cof

examples/aqua_module/Debug/

examples/5277_aqua_module/Debug/

examples/5277_aqua_module/Release/

examples/other/7seg_cntr/Debug/

examples/other/7seg_cntr/7seg_cntr_old.lay6
